@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,500&family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(120deg, rgb(1, 179, 255), #ffb6c1 ); 
  background-size: cover;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
}

.input{
  margin-top: 75px;
  margin-left: 75px;
  margin-bottom: 0;
}
.searchbox{
  position: relative;
  height: 55px;
  display: flex;
  align-items: center;
  /* border: 4px solid black; */
  border-radius: 100px;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

button{
  margin-top: 10px;
  margin-left: 5px;
  width: 450px;
  height: 25px;
  /* border: 4px solid black; */
  border-radius: 100px;
}

button:hover{
  background: #7c7c7c6b;
}

/* .left-panel{
  border: 4px solid black;
  border-radius: 100px;
  padding: 50px;
  margin: 50px;
  align-items: center;
  width: 700px;
  height: 500px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  flex-wrap: wrap;
  background-color: #fff;
} */

.left-panel {
  display: flex;
  margin-left: 10px;
  /* justify-content: center; */
  align-items: center;
}

.row

.current-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  /* border: 4px solid black; */
  border-radius: 100px;
  padding: 50px;
  margin: 10px 50px 50px 50px;
  background-color: #fff;
  width: 500px;
  float: left;
  padding: 10px;
  height: 500px;
}

.weather-items{
  align-items: center;
}

.left-panel img{
  width: 75px;
  height: 75px;
}

.left-panel .current-weather .weather-items .humidity{
  justify-content: end;
}

.future-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    /* border: 4px solid black; */
    border-radius: 100px;
    padding: 50px;
    margin: 10px 50px 50px 50px;
    background-color: #fff;
    width: 500px;
    float: left;
    padding: 10px;
    height: 100px;
}

