@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,500&family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body{
  background-size: cover;
  justify-content: space-between;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.search{
  margin-top: 75px;
  margin-left: 615px;
  margin-bottom: 0;
}
.searchbox{
  position: relative;
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}

button{
  margin-top: 10px;
  margin-left: 5px;
  width: 450px;
  height: 25px;
  border-radius: 100px;
  font-weight: 500;
}

button:hover{
  background: #7c7c7c6b;
}


.left-panel {
  display: flex;
  margin-left:550px;
  align-items: center;
}

.error{
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  color: #fff;
  display: none;
}

.current-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  padding: 50px;
  margin: 10px 50px 50px 50px;
  background: linear-gradient(135deg, #EE4B2B,#39FF14, rgb(1, 179, 255));
  width: 500px;
  float: left;
  padding: 50px;
  height: 700px;
  font-size: 30px;
  color: #fff;
}

.left-panel img{
  width: 200px;
  height: 200px;
  margin: 0 50px;
  text-align: left;
}

.info-container .day-weather .temp{
  padding-bottom: 30px;
}

.information{
  text-align: center;
  margin-left: 0;
  font-size: 20px;
  color: #fff;
  flex-wrap: wrap;
}

.information .hum{
  padding-top: 20px;
}
.information .wind{
  padding-top: 50px;
}

.information p{
  font-size: 20px;
  font-weight: 500;
}

.information img{
  width: 50px;
  height: 50px;
}

.humidity{
  font-weight: 500;
}

.wind-speed{
  padding-bottom: 2px; 
  margin-left: 10px; 
  text-align: center;
}



.wind-information{
  text-align: right;
  margin-left: 0;
  font-size: 30px;
}

.wind-information img{
  width: 50px;
  height: 50px;
}